@import "_themeColor";

/* 财务管理 账户资金 */
.funds-history{
   margin: 10px 0 20px;
   .funds-left{
      //min-height: 400px;
   }
   .funds-title{
      font-size: 18px;
      margin-bottom: 20px;
   }
   .funds-subTitle{
      color: $color-fontGray;
      margin-top: 29px;
   }
   .funds-price{
      font-size: 16px;
      margin-bottom: 20px;
   }
}

/*权限 二级 tabs*/
#SubTabs-power {
   padding: 10px;
}